html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.laptop-container {
    position: relative;
    display: inline-block;
    width: 1920px;
    height: 1080px;
    max-width: 100%;
    margin: 0 auto;
}

.laptop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.enter-button {
    position: absolute;

    left: 69%;
    top: 74%;

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.enter-button img {
    width: 200px;
    height: 100px;
    display: block;
}

.terminal-text {
    position: absolute;
    top: 15%;
    left: 25%;

    color: #00ff00;

    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: left;
}

.cursor {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}